api:
  dashboard: true
  insecure: true

log:
  level: DEBUG
  format: json

accessLog:
  format: json
  filePat: /var/log/traefix/access.log

middlewares:
  retry:
    retry:
      attempts: 3
      initialInterval: "500ms"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: local_nw
    watch: true

entryPoints:
  web:
    address: ":80"
